@charset "utf-8";


.rojo {
    color: red;
}
.verde {
    color: green;
}
.blanco {
    color: white;
}
.celeste {
    color: cyan;
}
.gris {
    color: gray;
}
.negro {
    color: black;
}
.musgo {
    background-color: #c6e602;
}
.rojizo {
  background-color: orange;
}
.cafebk {
  background-color: #ffffc7;
}

.center {
text-align: center
}

.der {
text-align: right
}

.complete {
    height: 100%;
    width: 100%;
    background-size: cover;
  }

.farial {
    font-family: Arial;
}

.margen {
    width: 90%;
    border: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    line-height:150%
}
.margenimg{
    margin-left: auto;
    margin-right: auto;
}
.fondotexto{
    background-color: black;
}

.carousel-inner > .item > img {
  min-width: 100%;
  width: 100%;
}       
:root {
    --facebook: #3b5999;
    --twitter: #46c1f6;
    --instagram: #e1306c;
    --github: #333;
    --youtube: #de463b;
  
  }
  
  
  .containers {
    display: flex;
    gap: 0.5rem;
  }
  
  .icons {
    transition: 0.15s ease-out;
  }
  
  .imgs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    color: #fff;
    background-color: #999;
  }
  
  .containers:hover > .icons {
    filter: blur(2px);
    transform: scale(0.95);
  }
  
  .containers:hover .icons:hover {
    filter: blur(0);
    transform: scale(1);
  }


  /*pie de pagina*/
.pie-pagina{
  width: 100%;
  background-color:rgb(16, 224, 50);
  text-align: center;

}
.pie-pagina .group-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .group-1 .box figure{
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .group-1 .box figure img{
  width: 250px;
}
.pie-pagina .group-1 .box h2{
  color: floralwhite;
  margin-bottom:25px ;
  font-size: 20px;
}
.pie-pagina .group-1 .box p{
  color:floralwhite;
  margin-bottom: 10px;
}
.pie-pagina .group-1 .red-social img{
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 100px;
  color: floralwhite;
  margin-right: 10px;
  background-color: antiquewhite;
  text-align: center;
  transition: all 300 ms ease;
}
.pie-pagina .group-1 .red-social a:hover{
  color: aqua;
} 
.pie-pagina .group-2{
  background-color: rgb(255, 255, 255);
  padding: 15px 10px;
  text-align: center;
  color: rgb(8, 8, 8);
}
.pie-pagina .group-2 small{
  font-size: 15 px;
}
@media screen and (max-width:800px){
  .pie-pagina .group-1{
      width: 100%;
      grid-template-columns: repeat(3 ,1fr);
      grid-gap: 50px;
      padding: 45px 0px;
  }
}
.group-1 a { text-decoration: none; 
  color: black;} 


.pie-pagina .group-1 .red-social ul {
display: flex;
margin-top: 20%;
margin-right: 100%;
transform: translate(-50%, -50%);
}

.pie-pagina .group-1 .red-social ul li {
list-style: none;
}

.pie-pagina .group-1 .red-social ul li a {
width: 80px;
height: 80px;
background-color: #fff;
text-align: center;
line-height: 80px;
font-size: 35px;
margin: 0 7px;
display: block;
border-radius: 50%;
position: relative;
overflow: hidden;
border: 3px solid #fff;
z-index: 1;
}

.pie-pagina .group-1 .red-social ul li a .icon {
position: relative;
color: #262626;
transition: .5s;
z-index: 3;
}

.pie-pagina .group-1 .red-social ul li a:hover .icon {
color: #fff;
transform: rotateY(360deg);
}

.pie-pagina .group-1 .red-social ul li a:before {
content: "";
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background: #f00;
transition: .5s;
z-index: 2;
}

.pie-pagina .group-1 .red-social ul li a:hover:before {
top: 0;
}

.pie-pagina .group-1 .red-social ul li:nth-child(1) a:before{
background: #3b5999;
}

.pie-pagina .group-1 .red-social ul li:nth-child(2) a:before{
background: #55acee;
}

.pie-pagina .group-1 .red-social ul li:nth-child(3) a:before {
background: #63df6d;
}

.pie-pagina .group-1 .red-social ul li:nth-child(4) a:before {
background: #06dae9;
}

.carreaux_presentation_light
{
display:table-cell;
width:500px; height:500px;
background-size:cover;
overflow: hidden;
position: relative;
}

.carreaux_presentation_light:hover .shadow_swhow_mini
{
background-color:rgba(254, 254, 255, 0);
}
.carreaux_presentation_light .deroul_titre
{
position: absolute;
text-transform: uppercase;
font-family: 'Roboto';
padding: 7px;
z-index: 1000;
top:60%;left:-80%;
color:#ffffff;
font-weight: 300;
font-size: 13px; width: 80%;
-webkit-transition: all 0.7s;
-moz-transition: all 0.7s;
-ms-transition: all 0.7s;
transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
background-color:#778686; left:0px;

}
.carreaux_presentation_light .deroul_soustitre
{
position: absolute;
font-family: 'Roboto';
padding: 5px;
z-index: 1000;
top:60%;right:-85%;
margin-top: 25px;
color:#c4bebe;
font-weight: 300;
font-size: 11px; width: 80%;
-webkit-transition: all 0.7s;
-moz-transition: all 0.7s;
-ms-transition: all 0.7s;
transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
background-color:#121313;right:0px;
}

.contenedorLetra{
font-family:verdana;
color:rgb(0, 0, 0);
text-shadow: 1px  0px 0px black,    
           0px  1px 0px black,
          -1px  0px 0px black,
           0px -1px 0px white;
}
